<h1>Editing Questionnaires Student</h1>

<%= render 'form', questionnaires_student: @questionnaires_student %>

<%= link_to 'Show', @questionnaires_student %> |
<%= link_to 'Back', questionnaires_students_path %>
