<h1>Editing Achievements Student</h1>

<%= render 'form', achievements_student: @achievements_student %>

<%= link_to 'Show', @achievements_student %> |
<%= link_to 'Back', achievements_students_path %>
